
.nav-lists{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px 100px;
    background-color: transparent;
    transition: background-color 0.3s ease;
     z-index: 1000;
}
.nav-lists.scrolled{
    background-color: #261118e0;
    backdrop-filter: blur(8px);
}
.nav-lists .logo{
    width:40%;
}
.nav-lists .logo img{
    width:70px;
}

.menu-list{
    width:60%;
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin:0;
    padding:0;
}
.menu-item{
    margin:0 20px;
    list-style-type: none;
}
.menu-link{
    color:#ffffff;
    text-decoration: none;
    font-family: arbotek-rounded, sans-serif;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active{
    border-bottom:1px solid #ffffff;
    color:#ffffff;
}
.active{
    border-bottom:1px solid #ffffff;
    color:#ffffff !important;
}
.menubtn{
    display:none;
    background: transparent;
    border:none;
    width:60%;
}
.menubtn:hover,
.menubtn:active,
.menubtn:focus-visible{
     background: transparent;
     outline:none;
     border:none;
     box-shadow: none;
}
.menubtn i{
    font-size: 24px;
    float:right;
}
.offcanvas{
    width:80% !important;
}
.offcanvas-body{
    padding:0 !important;
}
.menu-list-app{
    padding:0 !important;
    margin:0 !important;
}
.menu-list-app li{
    list-style-type: none;
    margin:5px 0;
    padding:10px 30px;
}
.menu-list-app li a{
    color:#000000;
    font-family: arbotek-rounded, sans-serif;
    text-decoration: none;
}
.menu-list-app .active{
    background-color: #260102;
    color:#ffffff !important;
}
.menu-list-app .active a{
    color:#ffffff !important;
}
.offcanvas-header{
    border-bottom:1px solid lightgrey;
}

/* =================banner sec==================== */

main .hero{
    background-image: url('../image/About/About-1920.jpg');
    width:100%;
    height:1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =================About sec==================== */

.aboutPage-content{
    background-color: #ffffff;
    padding:30px;
    border-radius: 30px;
    color: #000000;
}
.aboutPage-content p{
    color: #000000 !important;
    font-size: 16px !important;
    line-height: 30px;;
}
.aboutPage-content ul{
    padding:10px;
}
.aboutPage-content ul li{
    list-style-type: none;
    margin:5px 0;
    padding:5px 0;
}

.aboutus-grid .row{
    align-items: center;
}
.grid-content h3{
    font-size: 18px;
    font-weight: 600;
}
.grid-content p{
    text-align: justify;
}
.img-wrap{
    display:flex;
    justify-content: center;
}
.img-wrap img {
  display: block;
  width: 50% !important;
}

/* =================media query==================== */

@media screen and (min-width:1001px) and (max-width:1200px){
    main .hero{
        background-image: url('../image/About/About-1200.jpg');
        height: 900px;
    }
    .nav-lists{
        padding:5px 90px;
    }
    .nav-lists .logo{
        width:20%;
    }
    .menu-list{
        width:80%;
    }
    .menu-item{
        margin:0 10px;
    }
}
@media screen and (min-width:801px) and (max-width:1000px){
    main .hero{
        background-image: url('../image/About/About-1200.jpg');
        height: 900px;
    }
    .nav-lists{
        padding:5px 80px;
    }
    .nav-lists .logo{
        width:20%;
    }
    .nav-lists .logo img{
        width:65px;
    }
    .menu-list{
        width:80%;
    }
    .menu-item{
        margin:0 17px;
    }
}
@media screen and (max-width:800px){
    .menu-list{
        display:none;
    }
    .menubtn{
        display:block;
    }
}
@media screen and (min-width:601px) and (max-width:800px){
    main .hero{
        background-image: url('../image/About/About-750.jpg');
        height: 900px;
    }
    .nav-lists{
        padding:5px 50px;
    }
    .nav-lists .logo img{
        width:65px;
    }
}
@media screen and (min-width:451px) and (max-width:600px){
     main .hero{
        background-image: url('../image/About/About-750.jpg');
        height: 65vh;
    }
    .nav-lists{
        padding:10px 30px;
    }
     .nav-lists .logo img{
        width:60px;
    }
    .aboutus-grid .row{
        flex-direction: column-reverse;
    }
    .img-wrap img {
        width: 80% !important;
    }
}
@media screen and (max-width:450px){
    main .hero{
        background-image: url('../image/About/About-750.jpg');
        height: 65vh;
    }
    .nav-lists{
        padding:10px 30px;
    }
     .nav-lists .logo img{
        width:60px;
    }
    .aboutus-grid .row{
        flex-direction: column-reverse;
    }
    .img-wrap img {
        width: 80% !important;
    }
}