
.nav-listss{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px 100px;
    background-color: #261118;
    transition: background-color 0.3s ease;
     z-index: 1000;
}
.nav-listss.scrolled{
    background-color: #261118e0;
    backdrop-filter: blur(8px);
}
.nav-listss .logo{
    width:40%;
}
.nav-listss .logo img{
    width:70px;
}

.menu-list{
    width:60%;
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin:0;
    padding:0;
}
.menu-item{
    margin:0 20px;
    list-style-type: none;
}
.menu-link{
    color:#ffffff;
    text-decoration: none;
    font-family: arbotek-rounded, sans-serif;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active{
    border-bottom:1px solid #ffffff;
    color:#ffffff;
}
.active{
    border-bottom:1px solid #ffffff;
    color:#ffffff !important;
}
.menubtn{
    display:none;
    background: transparent;
    border:none;
    width:60%;
}
.menubtn:hover,
.menubtn:active,
.menubtn:focus-visible{
     background: transparent;
     outline:none;
     border:none;
     box-shadow: none;
}
.menubtn i{
    font-size: 24px;
    float:right;
}
.offcanvas{
    width:80% !important;
}
.offcanvas-body{
    padding:0 !important;
}
.menu-list-app{
    padding:0 !important;
    margin:0 !important;
}
.menu-list-app li{
    list-style-type: none;
    margin:5px 0;
    padding:10px 30px;
}
.menu-list-app li a{
    color:#000000;
    font-family: arbotek-rounded, sans-serif;
    text-decoration: none;
}
.menu-list-app .active{
    background-color: #260102;
    color:#ffffff !important;
}
.menu-list-app .active a{
    color:#ffffff !important;
}
.offcanvas-header{
    border-bottom:1px solid lightgrey;
}

/* =================banner sec==================== */


/* =================Gallery sec==================== */

.danceClass-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
  margin:10% 0 5% 0;
}

/* Base item */
.danceClass-item {
  grid-column: span 4;
  background: #f5f5f5;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* Wide banners */
.danceClass-item.item-wide {
  grid-column: span 8;
}

/* Tall banners */
.danceClass-item.item-tall {
      grid-column: span 8;
    grid-row: span 1;
}

/* Images */
.danceClass-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Tablet */
@media (max-width: 992px) {
  .danceClass-gallery {
    grid-template-columns: repeat(8, 1fr);
  }

  .danceClass-item,
  .danceClass-item.item-wide {
    grid-column: span 8;
  }

  .danceClass-item.item-tall {
    grid-row: span 1;
  }

  .danceClass-gallery {
        margin:20% 0 5% 0;
    }
}

/* Mobile */
@media (max-width: 576px) {
  .danceClass-gallery {
    grid-template-columns: 1fr;
  }

  .danceClass-item,
  .danceClass-item.item-wide,
  .danceClass-item.item-tall {
    grid-column: span 1;
  }
}


/* =================media query==================== */

@media screen and (min-width:1001px) and (max-width:1200px){
    .nav-listss{
        padding:5px 90px;
    }
    .nav-listss .logo{
        width:20%;
    }
    .menu-list{
        width:80%;
    }
    .menu-item{
        margin:0 10px;
    }
}
@media screen and (min-width:801px) and (max-width:1000px){
    .nav-listss{
        padding:5px 80px;
    }
    .nav-listss .logo{
        width:20%;
    }
    .nav-listss .logo img{
        width:65px;
    }
    .menu-list{
        width:80%;
    }
    .menu-item{
        margin:0 17px;
    }
}
@media screen and (max-width:800px){
    .menu-list{
        display:none;
    }
    .menubtn{
        display:block;
    }
}
@media screen and (min-width:601px) and (max-width:800px){
    .nav-listss{
        padding:5px 50px;
    }
    .nav-listss .logo img{
        width:65px;
    }
}
@media screen and (min-width:451px) and (max-width:600px){
    .nav-listss{
        padding:10px 30px;
    }
     .nav-listss .logo img{
        width:60px;
    }
    .aboutus-grid .row{
        flex-direction: column-reverse;
    }
    .img-wrap img {
        width: 80% !important;
    }
}
@media screen and (max-width:450px){
    .nav-listss{
        padding:10px 30px;
    }
     .nav-listss .logo img{
        width:60px;
    }
    .aboutus-grid .row{
        flex-direction: column-reverse;
    }
    .img-wrap img {
        width: 80% !important;
    }
}